name: markdown

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches:
      - master

jobs:
  markdownlint-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: markdownlint-cli
        uses: nosborn/github-action-markdown-cli@v1.1.1
        with:
          files: .
          config_file: .markdownlint.yml
          ignore_files: CHANGELOG.md
